<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8"/>
    <title>
        Confirmation: {proposal.title} submitted to {proposal.cycle}
    </title>
</head>
<body>

<div>
    <p>Hello,</p>
</div>

<div>
    <p>
        You are being emailed this submission confirmation as you are listed as an investigator on the observation
        proposal '{proposal.title}'.
    </p>
    <p>
        Principal Investigator: {proposal.principalName}
        {#if proposal.otherNames.size > 0}
            Co-Investigators:
        {/if}
    </p>
    <ul>
        {#for name in proposal.otherNames}
            <li>{name}</li>
        {/for}
    </ul>
    <p>
        Your proposal has been submitted to '{proposal.cycle}'. The principal investigator may withdraw this
        proposal at any time, up to the submission deadline for '{proposal.cycle}' ({proposal.submissionDeadline}).
    </p>
    <p>
        Sent from the Polaris Observation Proposal Preparation Tool.
    </p>

</div>
</body>
</html>